/* Contenido de layout_index.css (estilos específicos para index.html y similares) */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

top-bar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

menu-toggle {
    font-size: 24px;
    cursor: pointer;
}

side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

side-menu a {
    padding: 15px 10px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

side-menu a:hover {
    color: #f1f1f1;
}