<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    {% block styles %}{% endblock %}
</head>
<body>
    {% block body %}
    <div class="top-bar" id="topBar">
        <span class="menu-toggle" onclick="toggleMenu()">☰ KUPS-CA</span>
    </div>
    <div class="side-menu" id="sideMenu">
        <a href="#" onclick="closeMenu()">Cerrar</a>
        <a href="#">Análisis 1</a>
        <a href="#">Análisis 2</a>
        <a href="#">Nuevo Análisis</a>
    </div>
    {% endblock %}
    <script>
        function toggleMenu() {
            var sideMenu = document.getElementById('sideMenu');
            sideMenu.style.width = (sideMenu.style.width === '250px') ? '0' : '250px';
        }

        function closeMenu() {
            document.getElementById('sideMenu').style.width = '0';
        }
    </script>
</body>
</html>